<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Member{% block doc_title %}{% endblock %}</title>
</head>
<body>
    <h1 class="header-title"><a href="{% url 'post_list' %}">{% block title %}Instagram{% endblock %}</a></h1>
    <div class="post-container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>