{% extends 'base.html' %}

{% block content %}
<div class="signup container narrow">
    <form action="{% url 'member:login' %}?url={{ url }}&post_pk={{ post_pk }}&comment={{ comment }} " method="post">
        {% csrf_token %}
        <div class="username signup-label">
            <p style="margin-bottom: 3px">
                <span style="font-weight: bold; font-size: 18px">{{ form.username.label }} </span>
                {% if form.errors %}
                <span style="padding-left: 120px; color: #FC1100;">*{{ form.non_field_errors | striptags }}</span>
                {% endif %}
            </p>
            {{ form.username }}
        </div>
        <div class="password signup-label">
            <p style="margin-bottom: 3px">
                <span style="font-weight: bold; font-size: 18px">{{ form.password.label }}</span>
                {% if form.password_validation.errors %}
                <span style="padding-left: 100px; color: #FC1100;">*{{ form.password_validation.errors | striptags }}</span>
                {% endif %}
            </p>
            {{ form.password }}
        </div>
        <button class="btn btn-primary btn-block signup-button">Log in</button>
    </form>
    <a href="//www.facebook.com/v2.10/dialog/oauth?
    client_id={{ facebook_app_id }}&
    redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'member:facebook_login' %}"
       class="btn btn-info btn-block">페이스북 로그인</a>
</div>
{% endblock %}
