{% extends 'base.html' %}

{% block content %}
<div class="signup container narrow">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<label>Username: <input type="text" name="username"></label>-->
        <!--<label>Password: <input type="password" name="password"></label>-->
        <div class="username signup-label">
            <p style="margin-bottom: 3px">
                <span style="font-weight: bold; font-size: 18px">{{ form.username.label }} </span>
                {% if form.username.errors %}
                <span style="padding-left: 100px; color: #FC1100;">*{{ form.username.errors | striptags }}</span>
                {% endif %}
            </p>
            {{ form.username }}
        </div>
        <div class="password signup-label">
            <p style="margin-bottom: 3px">
                <span style="font-weight: bold; font-size: 18px">{{ form.password1.label }}</span>
                {% if form.password_validation.errors %}
                <span style="padding-left: 100px; color: #FC1100;">*{{ form.password_validation.errors | striptags }}</span>
                {% endif %}
            </p>
            {{ form.password1 }}
            <!--{{ form.password }}-->
        </div>
        <div class="password signup-label">
            <!--<p style="margin-bottom: 3px">-->
                <!--<span style="font-weight: bold; font-size: 18px">{{ form.password.label }}</span>-->
            <!--</p>-->
            {{ form.password2 }}
            <!--{{ form.password_validation }}-->
        </div>
        <div class="nickname signup-label">
            <span style="font-weight: bold; font-size: 18px">{{ form.nickname.label }}</span>
            <div>{{ form.nickname }}</div>
        </div>
        <div class="img-profile signup-label">
            <span style="font-weight: bold; font-size: 18px">{{ form.img_profile.label }} </span>
            <span class="font-size-10" style="float: right; line-height: 22px"> *선택사항입니다.</span>
            <div>{{ form.img_profile }}</div>
        </div>
        <button class="btn btn-primary btn-block signup-button">Sign up</button>
    </form>
    <a href="//www.facebook.com/v2.10/dialog/oauth?
    client_id={{ facebook_app_id }}&
    scope={{ facebook_scope|join:',' }}&
    redirect_uri={{ request.scheme }}://{{ request.META.HTTP_HOST }}{% url 'member:facebook_login' %}"
       class="btn btn-info btn-block"
       style="background-color: #3b5998; border-color: #3b5998">Sign up with Facebook</a>
</div>
{% endblock %}

