
<!doctype html>

{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>Post list</title>
</head>
<body>
    <div class="post-container">
        <div class="post">
            {% for post in posts %}
            <img src="/media/{{ post.photo }}" alt="" width="900px">
            <p>{{ post.text }}</p>
            <p>{{ post.text_display }}</p>
            <p class="right-text">{{ post.created_at }} | <strong>Date</strong></p>
            {% endfor %}
        </div>
    </div>
</body>
</html>